  *, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }

body{
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  flex-direction: column;
  line-height: 1.5;
  font-size:  60%;
  color: #f4f4f4;
  background-color: #1d1e22;
}

.scrolls{
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: 1.25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #f4f4f4;
}

.scrolls .center{
  font-size: 0.825rem;
}

.smooth{
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.header{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  background-image: linear-gradient(180deg, #1d1e22, rgba(29,30,34,0.1),transparent);
  mix-blend-mode: luminosity;
}

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header ul li{
  margin: 0 1em;
  padding: 1em;
}

.left{
  cursor: cell;
}

.header ul li a{
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 599;
  color: #f4f4f4;
}

.header ul li a::after{
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}

.header ul li a:hover::after{
  width: 100%;
  background-color: #f4f4f4;
}


/* HOME */
#home{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-grow: column wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-image: url(../images/background2.svg);
  background-size: cover;
  scroll-snap-align: center;
}

#home h2{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  padding: 10px 21px;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  pointer-events: none;
  user-select: none;
  position: relative;
}

#home h4{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 21px;
  margin-top: -10px;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  pointer-events: none;
  user-select: none;
  position: relative;
}

.blinker {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#home a{
  color: #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-weight: 599;
  padding: 10px 21px;
}

#home a::after{
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s linear;
}

#home a:hover::after{
  width: 100%;
  background-color: #f4f4f4;
}


/* END OF HOME */

/* ABOUT */
#about{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-grow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #1d1e22;
  background-image: url(../images/background2.svg);
  background-size: cover;
  scroll-snap-align: center;
  flex-direction: column;
}

#about h2{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  padding: 10px 21px;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  pointer-events: none;
  user-select: none;
  position: absolute;
  margin-top: -305px;
  margin-left:-483.5px;
}

.container{
  min-height: 50vh;
  width: 80%;
  position: relative;
  flex-direction: column;
  font-weight: 900;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  pointer-events: none;
  margin-top: 50px;
}

.container #profileimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-items: center;
  padding-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.p1, .p2{
  padding: 5px 50px;
  margin: 10px 3px;
}

.container .row{
 margin: auto auto;
 padding: auto auto;
}

.column{
  float: left;
}

/* END OF ABOUT */

/* PROJECTS */
#projects{
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
  flex-grow: column wrap;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-image: url(../images/background2.svg);
  background-size: cover;
  scroll-snap-align: center;
}

#projects h2{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  padding: 10px 21px;
  color: #1d1e22;
  background-color: #f4f4f4;
  mix-blend-mode: screen;
  pointer-events: none;
  user-select: none;
  position: absolute;
  margin-top: -250px;

}

#projects .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: 50px;
  height: 380px;
  text-align: center;
  background-color: #f4f4f4;
  color: #1d1e22;
}

.card p{
  padding: 0 1px;
}
 .card a{
 
    text-decoration: none;
    font-size: 22px;
    color: black;
}

/* END OF PROJECTS */

/* START OF FOOTER */

footer{
  position: relative;
  bottom:0px;
  height:100px;
  width:100%;
  color: #1d1e22;
  background: #f4f4f4;
}

footer .footer-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
 border: none;
}
/* END OF FOOTEr */

/* VIEWPORT */
@media only screen and (max-width: 600px) {
  
   .header ul{
     flex-direction: column;
     background-color: #1d1e22;
     color: #f4f4f4;
     height: 50vh;
     margin: 0;
     position: absolute;
     top: 0;
   }

   section{
     padding-top: 25rem;
   }

  #about h2{
    display: none;
  }
  }












